
# Expo (generated)
expo-env.d.ts
.expo/

# Dependencies
node_modules/

# Environment variables — NE JAMAIS commiter
.env
.env.local
.env.production
.env.example

# Build outputs
dist/

# OS
.DS_Store

expo-env.d.ts

credentials.json
credentials